<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Add page title value from Flask 'title' value-->
    <title>{{ title }}</title>
    <!--Load CSS in Flask with html-->
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">

</head>


<body>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <!--create a template for all other pages-->
    {% block content %}
    {% endblock %}

    <footer>
        <p>Sashya Zahara. Copyright 2023. All Rights Reserved</p>
    </footer>

</body>

</html>