<form action='' method = "POST">
    <div>
        <label>
            Alarm Name:
            <input type = "integer" name="name" id="name"/>
        </label>
    </div>

    <div>
        <label>
            Alarm Time:
            <input type="datetime-local" name="time" id="time" />
        </label>
    </div>

    <div>
        <label>
            Enabled?
            <input type="checkbox" name="enabled" id="enabled">
        </label>
    </div>

    <div>
        <label>
            Color:
            <input type="color" name="color" id="color">
        </label>
    </div>

    <br>
    <input type = "submit" value = "Submit" />
  </form>