{%extends "base.html" %}
{%block content%}

<!--Add page title value from Flask 'title' value-->
<h1>{{ title }}</h1>

<div id="alarms">
    <table>
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Color</th>
            </tr>
        </thead>
        <tbody>
            {% for a in alarms %}
            <tr>
                <td><input type="datetime-local" value="{{ a.time }}"></td>
                <td><input type="text" value="{{ a.name }}"></td>
                <td><input type="checkbox" {% if a.enabled==1 %}checked{% endif %}></td>
                <td><input type="color" value="{{ a.color }}" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}